### Data load & Preprocessing

In [187]:
import pandas as pd

train_df = pd.read_csv('./train.csv') 
test_df = pd.read_csv('./test.csv')
build_df = pd.read_csv('./building_info.csv')

print(train_df.head())
print('\n')
print(test_df.head())
print('\n')
print(build_df.head())

   num_date_time  건물번호           일시  기온(C)  강수량(mm)  풍속(m/s)  습도(%)  일조(hr)  \
0  1_20220601 00     1  20220601 00   18.6      NaN      0.9   42.0     NaN
1  1_20220601 01     1  20220601 01   18.0      NaN      1.1   45.0     NaN
2  1_20220601 02     1  20220601 02   17.7      NaN      1.5   45.0     NaN
3  1_20220601 03     1  20220601 03   16.7      NaN      1.4   48.0     NaN
4  1_20220601 04     1  20220601 04   18.4      NaN      2.8   43.0     NaN

   일사(MJ/m2)  전력소비량(kWh)
0        NaN     1085.28
1        NaN     1047.36
2        NaN      974.88
3        NaN      953.76
4        NaN      986.40


   num_date_time  건물번호           일시  기온(C)  강수량(mm)  풍속(m/s)  습도(%)
0  1_20220825 00     1  20220825 00   23.5      0.0      2.2     72
1  1_20220825 01     1  20220825 01   23.0      0.0      0.9     72
2  1_20220825 02     1  20220825 02   22.7      0.0      1.5     75
3  1_20220825 03     1  20220825 03   22.1      0.0      1.3     78
4  1_20220825 04     1  20220825 04   21.8      0.0      1.0     77


   건물번호  건물유형    연면적(m2)   냉방면적(m2) 태양광용량(kW) ESS저장용량(kWh) PCS용량(kW)
0     1  건물기타  110634.00   39570.00         -            -         -
1     2  건물기타  122233.47   99000.00         -            -         -
2     3  건물기타  171243.00  113950.00        40            -         -
3     4  건물기타   74312.98   34419.62        60            -         -
4     5  건물기타  205884.00  150000.00         -         2557      1000

In [188]:
print(train_df.columns)
print(test_df.columns)
print(build_df.columns)

Index(['num_date_time', '건물번호', '일시', '기온(C)', '강수량(mm)', '풍속(m/s)', '습도(%)',
       '일조(hr)', '일사(MJ/m2)', '전력소비량(kWh)'],
      dtype='object')
Index(['num_date_time', '건물번호', '일시', '기온(C)', '강수량(mm)', '풍속(m/s)', '습도(%)'], dtype='object')
Index(['건물번호', '건물유형', '연면적(m2)', '냉방면적(m2)', '태양광용량(kW)', 'ESS저장용량(kWh)',
       'PCS용량(kW)'],
      dtype='object')

In [189]:
train_df.drop(columns = ['num_date_time'],inplace = True)
test_df.drop(columns = ['num_date_time'],inplace = True)

In [190]:
train_df.columns = ['build_num','datetime','temperature','rain','wind','humid','sunshine','sun_energy','electric']
test_df.columns = ['build_num','datetime','temperature','rain','wind','humid']

build_df.columns = ['build_num','type','gross_area','energy_area','sun_capa','ess_capa','pcs_capa']

In [191]:
train_df

,build_num,datetime,temperature,rain,wind,humid,sunshine,sun_energy,electric
0,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28
1,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36
2,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88
3,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76
4,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40
...,...,...,...,...,...,...,...,...,...
203995,100,20220824 19,23.1,NaN,0.9,86.0,0.5,NaN,881.04
203996,100,20220824 20,22.4,NaN,1.3,86.0,0.0,NaN,798.96
203997,100,20220824 21,21.3,NaN,1.0,92.0,NaN,NaN,825.12
203998,100,20220824 22,21.0,NaN,0.3,94.0,NaN,NaN,640.08
203999,100,20220824 23,20.7,NaN,0.1,95.0,NaN,NaN,540.24

In [192]:
# Null 값 확인
train_df.isnull().sum()

build_num           0
datetime            0
temperature         0
rain           160069
wind               19
humid               9
sunshine        75182
sun_energy      87913
electric            0
dtype: int64

In [193]:
train_df.dropna(axis=0, subset= ['temperature','rain','sunshine','sun_energy','wind'], inplace=True)
train_df.reset_index(inplace = True,drop=True)
train_df

,build_num,datetime,temperature,rain,wind,humid,sunshine,sun_energy,electric
0,1,20220605 08,22.9,0.0,1.3,55.0,0.0,0.25,1440.48
1,1,20220605 09,23.6,0.0,1.2,53.0,0.0,0.51,1814.40
2,1,20220605 20,20.9,0.0,3.2,64.0,0.0,0.02,2054.40
3,1,20220606 06,18.2,0.2,1.8,89.0,0.0,0.00,1348.32
4,1,20220606 07,17.9,0.1,1.9,89.0,0.0,0.07,1693.92
...,...,...,...,...,...,...,...,...,...
26383,97,20220817 16,27.2,0.0,1.4,90.0,0.0,0.57,1664.82
26384,97,20220817 17,27.1,0.0,2.7,93.0,0.0,0.49,1737.18
26385,97,20220817 18,27.1,0.0,3.0,93.0,0.0,0.19,1697.58
26386,97,20220820 09,30.3,0.0,1.6,78.0,0.0,0.38,1534.68
26387,97,20220820 16,31.3,0.0,2.6,71.0,0.0,0.59,1844.10

In [194]:
# Null 값 제거 확인
train_df.isnull().sum()

build_num      0
datetime       0
temperature    0
rain           0
wind           0
humid          0
sunshine       0
sun_energy     0
electric       0
dtype: int64

In [195]:
# datetime column: str -> datetime 
from datetime import datetime
date_form = [datetime.strptime(d, '%Y%m%d %H') for d in train_df['datetime']]
train_df['datetime'] = date_form
train_df

,build_num,datetime,temperature,rain,wind,humid,sunshine,sun_energy,electric
0,1,2022-06-05 08:00:00,22.9,0.0,1.3,55.0,0.0,0.25,1440.48
1,1,2022-06-05 09:00:00,23.6,0.0,1.2,53.0,0.0,0.51,1814.40
2,1,2022-06-05 20:00:00,20.9,0.0,3.2,64.0,0.0,0.02,2054.40
3,1,2022-06-06 06:00:00,18.2,0.2,1.8,89.0,0.0,0.00,1348.32
4,1,2022-06-06 07:00:00,17.9,0.1,1.9,89.0,0.0,0.07,1693.92
...,...,...,...,...,...,...,...,...,...
26383,97,2022-08-17 16:00:00,27.2,0.0,1.4,90.0,0.0,0.57,1664.82
26384,97,2022-08-17 17:00:00,27.1,0.0,2.7,93.0,0.0,0.49,1737.18
26385,97,2022-08-17 18:00:00,27.1,0.0,3.0,93.0,0.0,0.19,1697.58
26386,97,2022-08-20 09:00:00,30.3,0.0,1.6,78.0,0.0,0.38,1534.68
26387,97,2022-08-20 16:00:00,31.3,0.0,2.6,71.0,0.0,0.59,1844.10

In [196]:
build_df

    build_num    type  gross_area  energy_area sun_capa ess_capa pcs_capa
0           1    건물기타   110634.00     39570.00        -        -        -
1           2    건물기타   122233.47     99000.00        -        -        -
2           3    건물기타   171243.00    113950.00       40        -        -
3           4    건물기타    74312.98     34419.62       60        -        -
4           5    건물기타   205884.00    150000.00        -     2557     1000
..        ...     ...         ...          ...      ...      ...      ...
95         96  호텔및리조트    93314.00     60500.00        -        -        -
96         97  호텔및리조트    55144.67     25880.00        -        -        -
97         98  호텔및리조트    53578.62     17373.75        -        -        -
98         99  호텔및리조트    53499.00     40636.00        -        -        -
99        100  호텔및리조트    57497.84     40035.23        -        -        -

[100 rows x 7 columns]

In [197]:
kor_type = build_df['type'].unique()
print(kor_type)

['건물기타' '공공' '대학교' '데이터센터' '백화점및아울렛' '병원' '상용' '아파트' '연구소' '지식산업센터' '할인마트'
 '호텔및리조트']

In [198]:
build_df

    build_num    type  gross_area  energy_area sun_capa ess_capa pcs_capa
0           1    건물기타   110634.00     39570.00        -        -        -
1           2    건물기타   122233.47     99000.00        -        -        -
2           3    건물기타   171243.00    113950.00       40        -        -
3           4    건물기타    74312.98     34419.62       60        -        -
4           5    건물기타   205884.00    150000.00        -     2557     1000
..        ...     ...         ...          ...      ...      ...      ...
95         96  호텔및리조트    93314.00     60500.00        -        -        -
96         97  호텔및리조트    55144.67     25880.00        -        -        -
97         98  호텔및리조트    53578.62     17373.75        -        -        -
98         99  호텔및리조트    53499.00     40636.00        -        -        -
99        100  호텔및리조트    57497.84     40035.23        -        -        -

[100 rows x 7 columns]

In [199]:
type_list = ['etc','public','university','datacenter','outlet','hospital','commerce','apt','lab','ip_center','mart','hotel']

for i in range(len(kor_type)):
    idx = build_df[build_df['type'] == kor_type[i]].index
    build_df['type'].iloc[idx] = type_list[i]
    
build_df

/tmp/ipykernel_3269956/1482109211.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  build_df['type'].iloc[idx] = type_list[i]

    build_num   type  gross_area  energy_area sun_capa ess_capa pcs_capa
0           1    etc   110634.00     39570.00        -        -        -
1           2    etc   122233.47     99000.00        -        -        -
2           3    etc   171243.00    113950.00       40        -        -
3           4    etc    74312.98     34419.62       60        -        -
4           5    etc   205884.00    150000.00        -     2557     1000
..        ...    ...         ...          ...      ...      ...      ...
95         96  hotel    93314.00     60500.00        -        -        -
96         97  hotel    55144.67     25880.00        -        -        -
97         98  hotel    53578.62     17373.75        -        -        -
98         99  hotel    53499.00     40636.00        -        -        -
99        100  hotel    57497.84     40035.23        -        -        -

[100 rows x 7 columns]

In [200]:
# '-' = 태양광, ess, pcs 관련 시설 설치x => 0처리 (날리면 안됨)

tmp = build_df['sun_capa'][0]
build_df['sun_capa'].replace(tmp,0,inplace = True)
build_df['ess_capa'].replace(tmp,0,inplace = True)
build_df['pcs_capa'].replace(tmp,0,inplace = True)
build_df

    build_num   type  gross_area  energy_area sun_capa ess_capa pcs_capa
0           1    etc   110634.00     39570.00        0        0        0
1           2    etc   122233.47     99000.00        0        0        0
2           3    etc   171243.00    113950.00       40        0        0
3           4    etc    74312.98     34419.62       60        0        0
4           5    etc   205884.00    150000.00        0     2557     1000
..        ...    ...         ...          ...      ...      ...      ...
95         96  hotel    93314.00     60500.00        0        0        0
96         97  hotel    55144.67     25880.00        0        0        0
97         98  hotel    53578.62     17373.75        0        0        0
98         99  hotel    53499.00     40636.00        0        0        0
99        100  hotel    57497.84     40035.23        0        0        0

[100 rows x 7 columns]

In [201]:
# 건물 정보와 시공간 정보 결합
merge_df = pd.merge(train_df,build_df)
merge_df.columns

Index(['build_num', 'datetime', 'temperature', 'rain', 'wind', 'humid',
       'sunshine', 'sun_energy', 'electric', 'type', 'gross_area',
       'energy_area', 'sun_capa', 'ess_capa', 'pcs_capa'],
      dtype='object')

In [202]:
# y 값인 electric이 가장 뒤로가도록 순서 변경
df = merge_df[['build_num', 'datetime', 'temperature', 'rain', 'wind', 'humid','sunshine', 'sun_energy', 'type', 'gross_area','energy_area', 'sun_capa', 'ess_capa', 'pcs_capa','electric']]
df

,build_num,datetime,temperature,rain,wind,humid,sunshine,sun_energy,type,gross_area,energy_area,sun_capa,ess_capa,pcs_capa,electric
0,1,2022-06-05 08:00:00,22.9,0.0,1.3,55.0,0.0,0.25,etc,110634.00,39570.0,0,0,0,1440.48
1,1,2022-06-05 09:00:00,23.6,0.0,1.2,53.0,0.0,0.51,etc,110634.00,39570.0,0,0,0,1814.40
2,1,2022-06-05 20:00:00,20.9,0.0,3.2,64.0,0.0,0.02,etc,110634.00,39570.0,0,0,0,2054.40
3,1,2022-06-06 06:00:00,18.2,0.2,1.8,89.0,0.0,0.00,etc,110634.00,39570.0,0,0,0,1348.32
4,1,2022-06-06 07:00:00,17.9,0.1,1.9,89.0,0.0,0.07,etc,110634.00,39570.0,0,0,0,1693.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26383,97,2022-08-17 16:00:00,27.2,0.0,1.4,90.0,0.0,0.57,hotel,55144.67,25880.0,0,0,0,1664.82
26384,97,2022-08-17 17:00:00,27.1,0.0,2.7,93.0,0.0,0.49,hotel,55144.67,25880.0,0,0,0,1737.18
26385,97,2022-08-17 18:00:00,27.1,0.0,3.0,93.0,0.0,0.19,hotel,55144.67,25880.0,0,0,0,1697.58
26386,97,2022-08-20 09:00:00,30.3,0.0,1.6,78.0,0.0,0.38,hotel,55144.67,25880.0,0,0,0,1534.68
26387,97,2022-08-20 16:00:00,31.3,0.0,2.6,71.0,0.0,0.59,hotel,55144.67,25880.0,0,0,0,1844.10

### EDA

- 각 요소별로 EDA 통해 전체적인 데이터 경향성 파악
- 전력 소모량과 데이터 간의 값차이 크므로 정규화하여 비교 진행

In [ ]:
# 월별 전력사용량

In [ ]:
# 요일별 전력사용량

In [ ]:
# 시간대 별 전력사용량

In [ ]:
# 건물 종류에 따른 전력사용량

In [ ]:
# 므아앙아아아아

In [ ]:
# ess, pcs 존재 여부에 따른 전력 사용량 비교

### Modeling

- non-linear 한 경향성 보일 것이기 때문에 non-linear 회귀 중 모델 선택
- 시계열 데이터의 seasonality 반영 위한 방법 탐구 필요
- Lasso regression을 통해 유의미한 변수 선택하여 돌려보는 것도 필요할 것 같다!

In [ ]:
# Lasso regression 으로 유의미한 변수 선택